.bp-main-content {
  width: 100%;
  height: auto;
  margin: 0 auto;
  grid-gap: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    "hd hd hd hd"
    "main main main main"
    "ft ft ft ft";
}

/* above the fold section */

.header-section {
  grid-area: hd;
  display: flex;
  flex-direction: column;
}

/* Recipe */

.content-section {
  grid-area: main;
}

.content {
  margin: 0 auto 50px;
  max-width: 820px;
  padding: 20px;
}

.content-title {
  font-size: 40px;
  text-align: center;
}

/* Biography */

.biography {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: beige;
  margin: 20px;
  padding: 25px;
  text-align: center;
}

.bio-content {
  padding: 0 20px;
}

.bio-image {
  display: block;
  margin: 0 auto;
  border-radius: 50%;
}

.image-quote {
  margin-top: 25px;
}

.content-list {
  margin-top: 45px;
}

.content-list-item {
  margin-bottom: 15px;
}

/* For tablets */

@media (min-width: 600px) {
  .bp-main-content {
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 40px 30px;
    grid-template-areas:
      "hd hd hd hd hd hd hd hd"
      "main main main main main main main main"
      "ft ft ft ft ft ft ft ft";
  }

  .biography {
    align-items: center;
    padding: 40px;
    max-width: 1200px;
    margin: 0 auto;
  }

  .bio-content {
    padding: 0 60px;
  }

  .content {
    padding: 50px 60px;
  }

  .content-paragraph {
    font-size: 22px;
    font-weight: 300;
  }

  .content-list {
    font-size: 22px;
  }
}

@media (min-width: 900px) {
  .biography {
    flex-direction: row;
    text-align: left;
  }
}
