h1,
h2,
h3 {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

.main-content {
  width: 100%;
  height: auto;
  margin: 0 auto;
  grid-gap: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    "hd hd hd hd"
    "main main main main"
    "ft ft ft ft";
}

/* above the fold section */

.header-section {
  grid-area: hd;
  display: flex;
  flex-direction: column;
}

/* navigation styles */

.navigation {
  background-color: #000;
  padding: 25px 20px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.navigation a {
  color: white;
  text-decoration: none;
}

.navigation a:hover {
  text-decoration: underline;
}

.nav-list {
  margin: 0 auto;
  padding: 0;
  display: flex;
  list-style: none;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 300;
  max-width: 400px;
}

.nav-item {
  margin: 0 10px;
}

/* Recipe */

.content-section {
  grid-area: main;
}

.content {
  margin: 0 auto 50px;
  max-width: 820px;
  padding: 20px;
}

.content-title {
  font-size: 40px;
  text-align: center;
}

/* Biography */

.biography {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: beige;
  margin: 20px;
  padding: 25px;
  text-align: center;
}

.bio-content {
  padding: 0 20px;
}

.bio-image {
  display: block;
  margin: 0 auto;
  border-radius: 50%;
}

.image-quote {
  margin-top: 25px;
}

.content-list {
  margin-top: 45px;
}

.content-list-item {
  margin-bottom: 15px;
}

/* footer styles */

.footer-section {
  grid-area: ft;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  background-color: #000;
  color: white;
  text-align: center;
}

.footer-title {
  font-size: 40px;
  margin-top: 0;
}

.footer-list {
  list-style: none;
  padding-left: 0;
}

.footer-list-item {
  display: inline-block;
  padding-right: 50px;
}

li.footer-list-item:last-child {
  padding-right: 0;
}

/* For tablets */

@media (min-width: 600px) {
  .main-content {
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 40px 30px;
    grid-template-areas:
      "hd hd hd hd hd hd hd hd"
      "main main main main main main main main"
      "ft ft ft ft ft ft ft ft";
  }

  .nav-item {
    font-size: 22px;
  }

  .biography {
    align-items: center;
    padding: 40px;
    margin: 50px 60px;
  }

  .bio-content {
    padding: 0 60px;
  }

  .content {
    padding: 50px 60px;
  }

  .content-paragraph {
    font-size: 22px;
    font-weight: 300;
  }

  .content-list {
    font-size: 22px;
  }
}

@media (min-width: 900px) {
  .biography {
    flex-direction: row;
    text-align: left;
  }
}
