.main-content {
  margin: 0;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 20px;
  grid-template-areas:
    "hd hd hd hd hd hd hd hd"
    "main main main main main main main main"
    "ft ft ft ft ft ft ft ft";
}

.header-section {
  grid-area: hd;
}

.cards-content {
  grid-area: main;
  display: flex;
}

.footer-content {
  grid-area: ft;
}
