@import "./blogpost.css";
@import "./general-styles.css";
@import "./navigation.css";
@import "./footer.css";

/* Homepage styles */

.main-content {
  width: 100%;
  height: auto;
  margin: 0 auto;
  grid-gap: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 60vh;
  grid-template-areas:
    "hd hd hd hd"
    "main main main main"
    "ft ft ft ft";
}

/* above the fold section */

.header-section {
  grid-area: hd;
  display: flex;
  flex-direction: column;
}

/* main title section */

.fullwidth-header {
  height: 100%;
  /* background image source https://unsplash.com/photos/R3LcfTvcGWY */
  background-image: url("../assets/header-background.jpg");
  background-size: cover;
  background-position: top;
  display: block;
  justify-content: center;
  align-items: center;
  color: white;
  display: flex;
}

.fullwidth-header-title {
  padding: 0 20px;
  text-align: center;
  text-shadow: #0000007d 1px 0 10px;
}

/* card section styles */

.card-wrapper {
  grid-area: main;
  display: flex;
  flex-direction: column;
}

.card {
  display: flex;
  flex-direction: column;
  margin: 0 20px 40px;
  background-color: #f6f6f6;
}

.card-image {
  width: 100%;
  display: block;
}

.card-title {
  margin-top: 20px;
}

.card-title,
.card-text {
  padding: 0 20px;
  text-align: center;
}

.card-btn {
  margin: 20px;
}

a.card-btn-link {
  display: inline-block;
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
}

a:hover.card-btn-link {
  color: white;
}

@media (min-width: 600px) {
  .main-content {
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 40px 30px;
    grid-template-areas:
      "hd hd hd hd hd hd hd hd"
      "main main main main main main main main"
      "ft ft ft ft ft ft ft ft";
  }

  .card {
    margin: 0 40px 40px;
  }
}

@media (min-width: 900px) {
  .main-content {
    grid-template-rows: 50vh;
  }

  .card-wrapper {
    flex-direction: row;
    max-width: 1280px;
    margin: 0 auto;
  }

  .card {
    margin: 0 30px;
  }
}

@media (min-width: 1280px) {
  .main-content {
    grid-template-rows: 60vh;
  }
}
